$bg-color: rgb(73, 79, 80);
$subcon-color: rgb(231, 245, 253);
$bg-dark: #292b2c;
$bg-light: #e6e6e6;


* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 5px;
    font-family: 'Montaga', serif;
    background-color: $bg-color;
}

nav {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;

  a {
      padding-left: 50px;
      color: #fff;
  }
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;

}

#title-container {
    margin-top: 65px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

#subtitle {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
}

#pagecontainer {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  position: relative;
  
}

#subcontainer {
  position: static;
  min-height: 100%;
  height: 800px;
  width: 100%;
  text-align: center;
  background-color: $subcon-color;

  #edge-l {
    background-image: linear-gradient(to right, $bg-color, $subcon-color);
  }

  #edge-r {
    background-image: linear-gradient(to left, $bg-color, $subcon-color);
  }

  #index-col-4-l {
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 300px;
    text-align: center;
  }
  #index-col-4-r {
    padding-top: 25px;
    text-align: center;

  }

  .user-image {
      padding-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .user-image-result {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-card {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

#classes {
  overflow: auto;
  height: auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 250px;
  padding-right: 250px;
  background-image: radial-gradient($bg-light, $bg-color);


  #classcontainer {

    .class-img {
      padding: 5px;
      width: 150px;
      height: auto;
      border-radius: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#aboutcontainer {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  background-image: radial-gradient($subcon-color, $bg-color);

  .content {
    color: white;

  }
}


#bottom-row {
  
  background-image: radial-gradient($bg-light, $bg-dark);

  .col-sm {
    margin: 0;
    padding-top: 15px;
  }
}

.table {
  margin: auto;
  padding-top: 10px;
}

.result-list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px 15px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

  transition: transform .5s;

  &:hover {
      background-color: rgb(228, 228, 228);
      transform: translateY(-10px);
      opacity: 0.9;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

}

// Card image size
.card-img-top {
  max-width: 300px;
  max-height: 420px;
}


.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
}