{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1 id="subtitle">So what's all this then?</h1>
<div id="aboutcontainer">
  <div class="row">
    <div class="col-lg-8 align-self-start justify-content-center">
      <!-- The-content of wizardify-about.txt -->
      <pre class="content">{{ content }}</pre>
    </div>
    <div class="col-lg-4 align-self-start justify-content-center">
      <!-- Team introduction -->
      <h2 id="subtitle">Arkilouhinta is:</h2>
      <br>
      <div class="card mx-auto" style="width: 16rem;">
        <img class="card-img-top" src="" alt="Image pending">
        <div class="card-body">
          <h5 class="card-title">Mikko Nikku</h5>
          <p class="card-text">Backend - Wizard</p>
          <p class="card-text">Developer</p>
        </div>
      </div>
      <br>
      <div class="card mx-auto" style="width: 16rem;">
        <img class="card-img-top" src="" alt="Image pending">
        <div class="card-body">
          <h5 class="card-title">Valtteri Nummi</h5>
          <p class="card-text">Machine Learning - Barbarian</p>
          <p class="card-text">Developer</p>
        </div>
      </div>
      <br>
      <div class="card mx-auto" style="width: 16rem;">
        <img class="card-img-top" src="" alt="Image pending">
        <div class="card-body">
          <h5 class="card-title">Harri Nupponen</h5>
          <p class="card-text">AI - Ranger</p>
          <p class="card-text">Developer</p>
        </div>
      </div>
      <br>
      <div class="card mx-auto" style="width: 16rem;">
        <img class="card-img-top" src="" alt="Image pending">
        <div class="card-body">
          <h5 class="card-title">Aaro Paukkunen</h5>
          <p class="card-text">UX/UI - Mage</p>
          <p class="card-text">Developer</p>
        </div>
      </div>
      <br>
      <div class="card mx-auto" style="width: 16rem;">
        <img class="card-img-top" src="" alt="Image pending">
        <div class="card-body">
          <h5 class="card-title">Heini Rantasalo</h5>
          <p class="card-text">Git - Rogue</p>
          <p class="card-text">Developer</p>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock  content%}