{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1 id="subtitle">So what's all this then?</h1>
<div class="container">
    <div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, culpa temporibus aspernatur sunt excepturi eos. Corrupti porro minus hic tempora perferendis deleniti. Iure totam corporis, nihil tempora mollitia maxime suscipit.
    </div>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quam sint amet nisi cumque ratione non voluptates delectus voluptatibus omnis? Quas explicabo nisi natus maiores reprehenderit vel quibusdam numquam dolorum?
    </div>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, culpa temporibus aspernatur sunt excepturi eos. Corrupti porro minus hic tempora perferendis deleniti. Iure totam corporis, nihil tempora mollitia maxime suscipit.
      </div>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quam sint amet nisi cumque ratione non voluptates delectus voluptatibus omnis? Quas explicabo nisi natus maiores reprehenderit vel quibusdam numquam dolorum?
      </div>
  </div>
{% endblock  content%}