{% extends "layout.html" %}

{% block content %}

<div id="title-container">
  <h1 id="subtitle">Classes</h1>
</div>

<div id="classes">
  <div id="classcontainer">
    <div class="row-1">
      <div class="column">
        <div class="card">
          <h3>Barbarian</h3>
            <div class="class-img">
              <img class="card-img-top" src="./static/images/classes/wizardify_barbarian.png" >
            </div>
              <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#barbarian-content">Class info</a>
            <div class="collapse" id="barbarian-content">
              <div class="well">
                </br>
                <p>You are a Barbarian. You solve your problems with raw force and toughness. You don't care for armor, and use pure fury to brush off even the most painful hits. Who needs to be the sharpest tool in the shed when you can crush everything in your way?</p> 
              </div>
            </div>
          </div>
        </div>
      <div class="column">
      <div class="card">
        <h3>Bard</h3>
          <div class="class-img">
            <img class="card-img-top" src="./static/images/classes/wizardify_bard.png">
          </div>
        <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#bard-content">Class info</a>
          <div class="collapse" id="bard-content">
              <div class="well">
                </br>
                <p>You are a Bard, the life of the party and a person of many talents. With your overflowing charisma and social skills you can get your friends anywhere and back again without trouble. A great performer that can make magical things happen with song, and when swords clash, you can fend yourself. Some might outclass you in one aspect, but none are as versatile as you</p>
              </div>
            </div>
          </div>
        </div>
      <div class="column">
      <div class="card">
        <h3>Cleric</h3>
          <div class="class-img">
            <img class="card-img-top" src="./static/images/classes/wizardify_cleric.png">
          </div>
          <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#cleric-content">Class info</a>
            <div class="collapse" id="cleric-content">
              <div class="well">
                </br>
                <p>You are a Cleric, a divine emissary of your god of choice. In your hands are strong spells capable of healing as well as destroying. Your faith is strong and your abilities versatile. Whatever may come, you'll stand ready to support your friends.</p>
              </div>
            </div>
          </div>
        </div>  
        <div class="column">
        <div class="card">
          <h3>Druid</h3>
            <div class="class-img">
              <img class="card-img-top" src="./static/images/classes/wizardify_druid.png">
            </div>
              <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#druid-content">Class info</a>
                <div class="collapse" id="druid-content">
                  <div class="well">
                  </br>
                  <p>You are a Druid. You respect nature, and it respects you back, offering great strength and wisdom. Among your friends are animals, plants and the forces of nature. Many druids can also take the form of an animal. You believe in balance and do your best to keep it.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!-- Second Row -->

    <div class="row-2">
      <div class="column">
        <div class="card">
          <h3>Fighter</h3>
          <div class="class-img">
            <img class="card-img-top" src="./static/images/classes/wizardify_fighter.png">
          </div>
            <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#fighter-content">Class info</a>
          <div class="collapse" id="fighter-content">
              <div class="well">
                </br>
                <p>You are a Fighter, a master of armed combat. Be it a sword and shield, bow or a two handed axe, you make your presence known on the battlefield. Maybe you’re there to defend your party members or just to wreack havoc, but one thing is sure: this is where you shine.</p>
            </div>
          </div>
        </div>
      </div>    
    <div class="column">
      <div class="card">
        <h3>Monk</h3>
          <div class="class-img">
            <img class="card-img-top" src="./static/images/classes/wizardify_monk.png">
          </div>
            <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#monk-content">Class info</a>
              <div class="collapse" id="monk-content">
                <div class="well">
                  </br>
                  <p>You are a Monk. Your body is a deadly weapon and your armor is your graceful movements, capable of dodging all attacks. Within you flows the Ki, achieved by years of physical training and meditation. With it you can push your body to even greater deeds. In a healthy body resides a healthy mind, calm, sharp and strong.</p>
                </div>
              </div>
            </div>
          </div>
        <div class="column">
          <div class="card">
            <h3>Paladin</h3>
              <div class="class-img">
                <img class="card-img-top" src="./static/images/classes/wizardify_paladin.png">
              </div>
                <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#paladin-content">Class info</a>
                  <div class="collapse" id="paladin-content">
                    <div class="well">
                      </br>
                      <p>You are a Paladin, oathbound and ready to fight in the name of your god. Many are stalwart defenders of the weak, willing to sacrifice anything for those in need, others are crusaders striking down everything they deem evil. Charismatic and strong, you are one that allies will follow happily.</p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="column">
              <div class="card">
                <h3>Ranger</h3>
                  <div class="class-img">
                    <img class="card-img-top" src="./static/images/classes/wizardify_ranger.png">
                  </div>
                    <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#ranger-content">Class info</a>
                  <div class="collapse" id="ranger-content">
                      <div class="well">
                        </br>
                        <p>You are a Ranger. To you, home is not with civilization, but in the fringes outside of it and the untamed wilderness. You might be a scout, a hunter or a protector of nature. Others can rely on you finding the path, spotting the enemy as well as landing a deadly strike upon them at the right time.</p>
                     </div>
                 </div>
              </div>
            </div>
        </div>
      <!-- Third Row -->
      <div class="row-3">
        <div class="column">
          <div class="card">
            <h3>Rogue</h3>
              <div class="class-img">
                <img class="card-img-top" src="./static/images/classes/wizardify_rogue.png">
              </div>
                <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#rogue-content">Class info</a>
                  <div class="collapse" id="rogue-content">
                    <div class="well">
                      </br>
                      <p>You are a Rogue, the great problemsolver. Be it a locked door, a trapped hallway, a troublesome guard, you can make the problem disappear. In case you can’t, you can make yourself disappear. From the shadows you strike with deadly precision and vanish again.</p>
                    </div>
                  </div>
              </div>
          </div> 
          <div class="column">
            <div class="card">
              <h3>Sorcerer</h3>
                <div class="class-img">
                  <img class="card-img-top" src="./static/images/classes/wizardify_sorcerer.png">
                </div>
                  <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#sorcerer-content">Class info</a>
                    <div class="collapse" id="sorcerer-content">
                      <div class="well">
                        </br>
                        <p>You are a Sorcerer. Magic comes to you naturally, for it is in your blood. While others spend ages studying magic or call for aid from their gods or patrons, you do it by instinct. Maybe your ancestry contains a dragon or a demon, or perhaps untamed magic itself resides within you? Whatever it may be, one thing is for sure: you make the magic happen and make it look good.</p>
                      </div>
                  </div>
              </div>
          </div>
        <div class="column">
          <div class="card">
              <h3>Warlock</h3>
                <div class="class-img">
                  <img class="card-img-top" src="./static/images/classes/wizardify_warlock.png">
                </div>
                  <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#warlock-content">Class info</a>
                    <div class="collapse" id="warlock-content">
                      <div class="well">
                        </br>
                        <p>You are a Warlock, one who has made a deal with dark forces. The deal might have been a risky move, but through it you have gained great magical powers that will aid you in your search for strength and knowledge.</p>
                      </div>
                    </div>
                </div>
            </div>
          <div class="column">
            <div class="card">
              <h3>Wizard</h3>
                <div class="class-img">
                  <img class="card-img-top" src="./static/images/classes/wizardify_wizard.png">
                </div>
                  <a href="#" class="btn btn-dark stretched-link" data-toggle="collapse" data-target="#wizard-content">Class info</a>
                    <div class="collapse" id="wizard-content">
                      <div class="well">
                        </br>
                        <p>You are a Wizard, the master of arcane arts. Through endless studies, you’ve reached a deep knowledge of the weave of magic and on the countless pages of your spellbook, you will find a tool for any situation. You might not be much of a swordsman, but, your mind is sharper than any blade and a good wizard is prepared so well, that they never have to fear a blade.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}