{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1 id="subtitle">Welcome to Wizardify</h1>
<!-- Upload image -->

<div id="subcontainer">
  <div class="row">
    <div class="col-4">
      <h3>To reveal your inner self:</h3>
      <br>
      <h5 class="d-flex justify-content-left align-self-start">Step 1. Upload a picture in the field next to this</h5>
      <h5 class="d-flex justify-content-left align-self-center">Step 2. Press the button labeled 'Do it!'</h5>
      <h5 class="d-flex justify-content-left">Step 3. That's it</h5>
    </div>
    <div class="col-8">
      <h3>Upload image</h3>
      <div class="user-image">
        <div class="card" style="width: 18rem;">
          <img id="selected-image" class="card-img-top" src="" alt="User image">
          <div class="card-body">
            <p class="card-text">A placeholder-Monk.</p>
          </div>
        </div>
      </div>
      <form action="/result" method="POST" enctype="multipart/form-data">
        <input id="image-selector" type="file" name="file">
        <button id="predict-button" type="submit">Predict</button>
    </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$('#image-selector').change(function() {
  let reader = new FileReader();
  reader.onload = function() {
      let dataURL = reader.result;
      $('#selected-image').attr('src', dataURL);
      $('#prediction-list').empty();
  }
  let file = $('#image-selector').prop('files')[0];
  reader.readAsDataURL(file);
});</script>

{% endblock  content%}
